<!-- This is the form that logs a user in -->


<h1>Sign in</h1>
<%= form_tag signin_path do %>
  <label for="email">Email</label>
  <%= text_field_tag :email %>
  <%= submit_tag "Sign in" %>
<% end %>

<p>Don't have an account yet? <%= link_to "Click here", new_user_path %></p>