<!-- This is the form that logs a user in -->

Sign in you fuck:
<%= form_tag signin_path do %>
  <label for="email">Email</label>
  <%= text_field_tag :email %>
  <%= submit_tag "Submit You Fuck" %>
<% end %>
