<h1>All the users!</h1>
<ul>

</ul>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.first_name %> <%= user.last_name %></td>
      <td><%= user.email_address %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br />
<%= link_to 'Create User', new_user_path %>
<br />
