<ul> All the videos!
  <% @videos.each do |video| %>
    <li><%= link_to video.title, video_path(video.id) %></li>
  <% end %>
</ul>

<br />
<%= link_to('Create Video', new_video_path) if current_user? %>
<br />